<div class="hops-dropdown">
  <%= f.collection_select :hop_ids, hops.sort_by { |h| h.name.downcase }, :id, :name, {include_blank: true }, {:name => 'recipe[hop_ids][]', :class => "recipe_hop_ids", :data_value => 1, :onchange => "updateHopIndexes(this.value, 1, '', '')"} %>

  <div class="hop-amount-input-div-1 amount-input">
    <input type="number" name="" value="0" class="hop-amount-input"> (oz)
  </div>

  <div class="hop-addition-time-input-div-1 time-input">
    <input type="number" name="" value="0" class="hop-amount-input"> (min)<br>
  </div>
</div>
