<!-- FERMENTABLES HANDLEBARS TEMPLATE -->
<script id="fermentable-dropdown-template" type="text/x-handlebars-template">
  <div class="fermentables-dropdown">
    <select name="recipe[fermentable_ids][]" class="recipe_fermentable_ids" data_value="{{fermentableCounter}}" onchange="updateFermentableIndexes(this.value, {{fermentableCounter}}, '')" id="recipe_fermentable_ids">
      <option value=""></option>
      {{#each this}}
        <option value='{{this.id}}'>{{this.name}}</option>
      {{/each}}
    </select>

    <div class="fermentable-amount-input-div-{{fermentableCounter}} amount-input">
      <input type="number" name="" value="0" class="fermentable-amount-input"> (lbs)
    </div>
  </div>
</script>

<!-- HOP HANDLEBARS TEMPLATE -->
<script id="hop-dropdown-template" type="text/x-handlebars-template">
  <div class="hops-dropdown">
    <select name="recipe[hop_ids][]" class="col-md-4 recipe_hop_ids" data_value="${hopCounter}" onchange="updateHopIndexes(this.value, {{hopCounter}}, '', '')">
      <option value=""></option>
      {{#each this}}
        <option value='{{this.id}}'>{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="col-md-4">
    <div class="col-md-6 input-label">
      <label>Amount:</label>
    </div>
    <div class="col-md-6 hop-amount-input-div-{{hopCounter}}">
      <input type="number" name="" value="" class="hop-amount-input"> (oz)
    </div>
  </div>

    <div class="col-md-4">
      <div class="col-md-6 input-label">
        <label>Addition Time:</label>
      </div>
      <div class="col-md-6 hop-addition-time-input-div-{{hopCounter}}">
        <input type="number" name="" value="" class="hop-amount-input"> (min)<br>
      </div>
    </div>
</script>

<!-- YEASTS HANDLEBARS TEMPLATE -->
<script id="yeast-dropdown-template" type="text/x-handlebars-template">
  <select name='recipe[yeast_ids][]' id='recipe_yeast_ids'>
    <option value=''></option>
    {{#each this}}
    <option value="{{this.id}}">{{this.brand}} - {{this.variety}}</option>
    {{/each}}
  </select><br>
</script>
