if(<%= @recipe.comments.last.body != "" %>) {
  const userId = parseInt($("h2").attr("data-user-id"))
  const recipeId = parseInt($("h2").attr("data-recipe-id"))

  $.get(`/users/${userId}/recipes/${recipeId}.json`, function(data) {
    function Comment(body, user) {
      this.body = body
      this.user = user
    }

    const comment = new Comment(data.comments.slice(-1)[0].body, data.comments.slice(-1)[0].user.name)

    Comment.prototype.post = function() {
      return this.body + " - Posted by: " + this.user;
    };

    $("#comments").append(`<li>${comment.post()}</li>`)
    $(".comment-body-input").val("")
  })
} else {
  alert("Please type a comment with some content.")
}
