<h1 data-user-id="<%= current_user.id %>">Here are all of your recipes, <%= current_user.name %></h1>

<ul class="recipes">
</ul>
<!-- ***MOVE THIS*** -->
<script>
  $(function() {
    const userId = parseInt($("h1").attr("data-user-id"))

    fetch(`/users/${userId}/recipes.json`, { credentials: 'include' })
    .then(res => res.json())
    .then(json => {
      for (var i = 0, l = json.length; i < l; ++i) {
        $(".recipes").append("<li>" + "<a href='/users/" + json[i].user.id + "/recipes/" + json[i].id + "'>" + json[i].name + "</a>" + "</li>");
      }
    })
  })
</script>
