<h1>New Recipe</h1>
<%= render partial: 'new_form', locals: {recipe: @recipe} %>


<!-- My attempt with multi select boxes. Looks bad with no JS -->
<!-- <section>
  <h3>Fermentables</h3>

  <%#= f.fields_for :fermentables do |fermentable_builder| %>
    <%#= fermentable_builder.label "Fermentables:" %>
    <%#= collection_select(:recipe, :fermentable_ids, @fermentables.sort_by { |f| f.name }, :id, :name, {}, {:multiple => true} ) %><br>

    <%#= fermentable_builder.label "New Fermentable Name:" %>
    <%#= fermentable_builder.text_field :name %>
  <%# end %><br>

</section>

<section>
  <h3>Hops</h3>

  <%#= f.fields_for :hops do |hops_builder| %>
    <%#= hops_builder.label "Hops:" %>
    <%#= collection_select(:recipe, :hop_ids, @hops.sort_by { |f| f.name }, :id, :name, {}, {:multiple => true} ) %><br>

    <%#= hops_builder.label "New Hop Name:" %>
    <%#= hops_builder.text_field :name %>
  <%# end %><br>

</section>

<section>
  <h3>Yeast</h3>

  <%#= f.fields_for :yeasts do |yeast_builder| %>
    <%#= yeast_builder.label "Yeasts:" %>
    <%#= collection_select(:recipe, :yeast_ids, @yeasts.all.sort_by { |f| f.variety }, :id, :variety, {}, {:multiple => true} ) %><br>

    <%#= yeast_builder.label "New Yeast Brand:" %>
    <%#= yeast_builder.text_field :brand %><br>

    <%#= yeast_builder.label "New Yeast Variety:" %>
    <%#= yeast_builder.text_field :variety %>
  <%# end %><br>

</section> -->
