<div class="row">
  <div class="col-md-6 check_boxes">
    <%= b.check_box(class: "check_box") %> <%= b.object.name %>
  </div>

  <div class="col-md-6">
    <div class="col-md-2 input-label">
      <label class="input-label">Amount:</label>
    </div>

    <div class="col-md-10">
      <input type="number" name="recipe[fermentable_amounts][][<%= b.object.id %>]" value="<%= recipe_fermentable_amount(b.object) %>", class="fermentable-amount-input"> (lbs)
    </div>
  </div>

</div>
