<div class="fermentables-dropdown">
  <%= f.collection_select :fermentable_ids, fermentables.sort_by { |f| f.name.downcase }, :id, :name, {include_blank: true }, {:name => 'recipe[fermentable_ids][]', :class => "recipe_fermentable_ids", :data_value => 1, :onchange => "updateFermentableIndexes(this.value, 1, '')"} %>

  <div class="fermentable-amount-input-div-1 amount-input">
    <input type="number" name="" value="0" class="fermentable-amount-input"> (lbs)
  </div>
</div>
