// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  input, select {
    border: 1px red solid
  }
}

.recipes {
  max-width: 430px;
  margin: 0 auto 20px;

  a {
    font-size: 1.5em;
  }
}

.recipe-form {
  background-color: #f6f4f1;
  border-radius: 5px;
  width: 65%;
  margin: auto;
}

.recipe-header {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}

.input-label {
  text-align: right;
}


.recipe-row-1 {
  padding-bottom: 30px;

  .input-header {
    text-align: center;
  }
  .right-column {
    margin-top: 30px;
  }
  .amount-input-field {
    width: 25%;
  }
}

.container {
  hr {
    margin: 20px 15px 0px;
    border: 0;
    border-top: 1px solid #00000040;
  }

  .col-md-6 {
    padding-right: 6px;
    padding-left: 6px;
  }

  .check_boxes {
    margin-left: 20px;
    width: 40%;
  }

  .amount-label {
    width: 35%;
  }

  .ingredient-checkboxes {
    margin-right: 180px;
    margin-left: 180px;
  }

  .new-ingredient-label {
    color: black;
  }

  .new-ingredient-attributes {
    margin: 5px 0px;
  }
}

.amount-input-field {
  width: 51%;
}
