// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  input, select {
    border: 1px red solid
  }
}

.recipes {
  max-width: 430px;
  margin: 0 auto 20px;
  
  a {
    font-size: 1.5em;
  }
}
